.gacha-result {
    min-height: calc(376px + 4rem);
}

.gacha-main {
    display       : inline-block;
    position      : relative;
    width         : 9%;
    margin-left   : 9%;
    padding-bottom: 2rem;
}

.gacha-light {
    position : absolute;
    z-index  : -1;
    animation: turn 2s linear infinite;
    left     : -35px;
    top: -10px;
    width    : 210px;
    height   : 210px;
}

.gacha-card {
    width : 140px;
    height: 188px;
}

.gacha-chara {
    position: absolute;
    left    : 20px;
    top     : 50px;
    width   : 100px;
}

@keyframes turn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}