---
import Card from "../components/Card.astro";
---

<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>谷雨同学</title>
  </head>
  <body class="bg-white dark:bg-gray-800 text-black dark:text-white">
    <header
      class="mt-16 container p-4 sm:p-8 md:p-16 flex flex-col-reverse md:flex-row justify-center items-center md:justify-between gap-6 md:gap-2"
    >
      <div
        class="flex flex-col items-center md:items-start text-5xl md:text-6xl font-extrabold gap-2"
      >
        <div>guyutongxue</div>
        <div
          class="text-transparent bg-clip-text bg-gradient-to-br from-yellow-400 to-amber-500"
        >
          .site
        </div>
      </div>
      <img src="/img/logo.png" class="w-32 h-32 sm:w-40 sm:h-40 rounded-2xl" />
    </header>
    <main class="container mx-auto">
      <div class="text-center mb-5"></div>
      <ul class="flex justify-around items-center">
        <Card href="/blogs" title="博客列表">
        </Card>
        <Card href="/legacy/index.html" title="旧版主页">
          <p class="text-gray-400">此新版网站还在建设中……</p>
        </Card>
      </ul>
    </main>
  </body>
</html>
