---
import Layout from '../layouts/Layout.astro';
---

<Layout title="谷雨同学">
	<main class="container mx-auto 100-vh overflow-hidden">
    <div class="my-40 flex flex-col sm:flex-row items-center justify-center text-5xl md:text-7xl font-extrabold tracking-wider">
      <div>guyutongxue</div>
      <div class="text-transparent bg-clip-text bg-gradient-to-br from-yellow-400 to-amber-500">.site</div>
    </div>
    <div class="text-center mb-5">
      新版网站正在建设中~
    </div>
    <div class="flex justify-around">
      <a href="/blogs">
        <button class="rounded-md p-2 border">博客列表</button>
      </a>
      <a href="/legacy/index.html">
        <button class="rounded-md p-2 border">旧版主页</button>
      </a>
    </div>
	</main>
</Layout>
