<main class="w-full h-full py-20 sm:px-4 flex justify-center">
  <div
    class="container shadow-sm sm:border sm:rounded-xl bg-white dark:bg-gray-800 dark:border-gray-800 p-5 sm:p-12"
  >
    <slot />
  </div>
</main>
