<header
  class="border-b sm:border-0 dark:border-b-transparent border-gray-200 bg-gbg dark:bg-transparent bg-opacity-80 backdrop-blur-lg fixed top-0 w-full sm:py-4 sm:px-5 py-2 px-3 z-50 flex justify-between"
>
  <a class="flex flex-row items-center gap-2" href="/">
    <div
        class="flex items-center flex-shrink-0 h-6 w-6 border rounded-full border-gray-300 dark:border-gray-500"
    >
        <img
        alt="Guyutongxue avatar"
        loading="lazy"
        class="rounded-full"
        src="/img/logo.png"
        />
    </div>
    <h3
        class="tracking-wider text-gray-700 dark:group-hover:text-gray-300 dark:text-gray-400"
    >
        Guyutongxue
    </h3>
  </a>
  <div class="flex flex-row">
        <a href="/">
        <button
            class="py-2 px-5 rounded-md focus:outline-none justify-center items-center tracking-wider flex sm:flex hover:bg-gray-200 hover:dark:bg-gray-700"
        >
            主页
        </button>
        </a>
        <a href="/blogs/intro">
        <button
            class="py-2 px-5 rounded-md focus:outline-none justify-center items-center tracking-wider flex sm:flex hover:bg-gray-200 hover:dark:bg-gray-700"
        >
            关于
        </button>
        </a>
  </div>
</header>
